.chart-container{
    border-style:solid;
    border-width:1px;
    border-radius:3px;
    border-color:steelblue;
    margin:2px;
    background-image: url("dmv.png");
    background-repeat: no-repeat;
   background-size: 80px 80px;
    background-position: top right; 
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
#main-container{
    margin-top:10px;

}

.positive{
        fill: lightsteelblue;
        /*fill-opacity: 0.9;*/
}

.negative{
        fill: darkred;
        /*fill-opacity: 0.9;*/
}